h3 TestEM3 
  small.text-muted
#panelGeant1.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title Search GEANT TestEm3 tests
  .panel-wrapper(collapse="panelGeant1")
    .panel-body
      select-jobs(selected-app="GEANT4" selected-options="GEANT_TESTEM3" on-jobs-selected="analyze(jobIds)")

script(type="text/ng-template", id="chartTemplate")
  .row
    .col-lg-12
      canvas(id="attrChart", width="chartWidth()", height="chartheight()")


    
