h3 GEANT standalone tests 
  small.text-muted

select-jobs(on-jobs-selected="doSomething(jobIds)")

rootjsserver(entrypoint="url" 
    files="files_and_titles"
    items="graphs"
    width="800" height="600")
