h3 TestEM3 
  small.text-muted
#panelGeant1.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title Search GEANT TestEm3 tests
  .panel-wrapper(collapse="panelGeant1")
    .panel-body
      select-jobs(selected-app="Geant4" selected-options="GEANT_TESTEM3" on-jobs-selected="analyze(jobIds)")

          
ul
  li(ng-repeat="item in items")
      span(ng-repeat="plot in item.items")
        h2(ng-repeat="(file, title) in item.files_and_titles")
          | {{plot}} {{title}} {{file}} 
      rootjsserver(entrypoint="url" 
          files="item.files_and_titles"
          items="item.items"
          width="800" height="600")
