h3 TestEM3 
  small.text-muted
#panelGeant1.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title Search GEANT TestEm3 tests
  .panel-wrapper(collapse="panelGeant1")
    .panel-body
      select-jobs(selected-app="GEANT3" selected-options="GEANT_TESTEM3" on-jobs-selected="analyze(jobIds)")

          
  div#em3(style="width: 800px; height: 600px")
    | 
    
