h3 GEANT standalone tests 
  small.text-muted

rootjsserver(entrypoint="///prl-dev" 
    files="{'FTFP_BERT_kaon+_Be.root':'GGG','FTFP_BERT_proton_Si.root':'gcc49'}"
    items="Total,Inelastic,Elastic"
    width="800" height="600")
