<div class="panel panel-primary">
   <div class="panel-heading">Search jobs</div>
   <div class="panel-wrapper">
      <div class="panel-body">
         <form role="form">
            <div class="form-group">
               <label>Application</label>
               <select ng-model="app" ng-options="(item.name+ ' ('+ item.count + ')')  for item in apps track by item.id" class="form-control">
                  <option>...</option>
               </select>
            </div>
            <div ng-show="versions" class="form-group">
               <label>Versions</label>
               <div class="checkbox c-checkbox needsclick">
                  <label ng-repeat="version in versions" class="checkbox-inline needsclick">
                     <input type="checkbox" checklist-model="versionsIds" checklist-value="version.id" checklist-change="versionChanged()" />
                     <span class="fa fa-check"></span>{{version.name}} ({{version.count}})</label>
               </div>
            </div>
            <div ng-show="options" class="form-group">
               <label>Options</label>
               <div class="checkbox c-checkbox needsclick">
                  <label ng-repeat="option in options" class="checkbox-inline needsclick">
                     <input type="checkbox" checklist-model="optionsIds" checklist-value="option.id" checklist-change="optionChanged()" />
                     <span class="fa fa-check"></span>{{option.name}} ({{option.count}})</label>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>