h3 Job Descriptions

.row.traditional(ng-class="csspinner" ng-repeat="app in apps")
  .col-lg-12
    // START panel
    .panel.panel-primary
      .panel-heading
        | {{app.name}}
      .panel-body
        // START panel
        // START widget
        .panel.widget
          .row.row-table.row-flush
            .col-xs-12.align-middle.p-lg
              .h3
                strong Job Descriptions
              .h4(ng-repeat-start="ver in app.versions")
                {{ver.version}}
              ul(ng-repeat-end)
                li(ng-repeat="jd in ver.jobdescriptions")
                  span
                    | SetupProject {{app.name}} {{ver.version}} {{jd.setup_project.content}} && 
                  span(ng-if="!jd.option.is_standalone")
                    | gaudirun.py
                  span
                    {{jd.option.content}}

                           

                  
        // END widget
        // END panel
  