h3 Job
  small.text-muted LHCbPR

h4 Results

.row.traditional(ng-class="csspinner")
    .col-lg-6
        table.table.table-striped.table-bordered.table-hover(ng-table="tableParams")
            thead
              th Name
              th Description
              th Value
              th 
            tr(ng-repeat="result in $data")
              td {{result.attr.name}}
              td {{result.attr.description}}
              td {{result.val_float}} {{result.val_string}} {{result.val_int}}
              td 
                a.button.btn.btn-sm.btn-info(ui-sref="app.trends.chart({option: job.job_description.option.id, attribute: result.attr.id})") Trends
