// Small title indicating what kind of analysis this is
// TODO Make this inhert from the controller  
h3 {{ analysisModuleTitle }}
  small.text-muted LHCbPR

h3 Plots:
div(ng-show="graphsToShow() && !noJobData")
  plot-view-generator(plot-view="data.optvalue" graphs="data.graphs" files="jobsRootFiles" test='test' url='url' resources='data.resources')
  center
    .btn-group
      button.btn-default.btn(type="button" 
                              ng-class="{'active': data.optvalue === plotView.directiveName }" 
                              ng-click="setOptvalue(plotView.directiveName)" 
                              ng-repeat="plotView in plotViews")
        | {{ plotView.displayName }}
.alert.alert-info(ng-hide="graphsToShow() && !noJobData") No plots selected. Please select jobs and graphs below.


#panelSearch.panel.panel-default
  .panel-heading
    .panel-title Select one or more jobs
  .panel-wrapper
    .panel-body
      // select-jobs(selected-app="DUMMYAPP" selected-options="100Evts-GAUSS-2015" on-jobs-selected="lookHistos(jobIds)")
      select-jobs(ng-attr-selected-app="{{selectedApp}}", ng-attr-selected-options="{{selectedOptions}}", on-jobs-selected="lookHistos(jobIds)")


#panelJobs.panel.panel-default
  .panel-heading
    .panel-title Select item to plot
  .panel-wrapper
    .panel-body
      .alert.alert-info(ng-show="noJobData") No root file was found !
      browse-root-files(resources='data.resources', folders="data.treedirsStructure" graphs-checklist-model="data.graphs" default-plots="defaultPlots" ng-hide="noJobData")


#panelDebug.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title Debug info
  .panel-wrapper(collapse="panelDebug")
    .panel-body
      p.
        The details here are for debug purposes. They can be safely ignored unless
        you are doing active plot view development.
      pre data.optvalue: {{data.optvalue}}
      pre directiveMapService: {{ plotViewsFromProvider }}
      pre plotViewsFromArgs: {{ plotViewsFromArgs }}
      pre jobId: {{ jobId }}
      pre data.graphs: {{ data.graphs }}
      pre data.treedirsStructure: {{ data.treedirsStructure }}

      pre apiroot: {{ apiroot }}

      label plot directive:
        input(ng-model="data.optvalue")
