// Small title indicating what kind of analysis this is
// TODO Make this inhert from the controller  
h3 {{ analysisModuleTitle }}
  small.text-muted LHCbPR

div(ng-show="graphsToShow() && !noJobData")
  plot-view-generator(plot-view="data.optvalue" graphs="data.graphs" files="jobsRootFiles" test='test' url='url' resources='data.resources')
  center
    .btn-group
      button.btn-default.btn(type="button" 
                              ng-class="{'active': data.optvalue === plotView.directiveName }" 
                              ng-click="setOptvalue(plotView.directiveName)" 
                              ng-repeat="plotView in plotViews")
        | {{ plotView.displayName }}
.alert.alert-warning(ng-show="noJobData") No jobs selected!
.alert.alert-warning(ng-hide="graphsToShow()") No plots selected!
.alert.alert-info(ng-show="!noJobData && !graphsToShow()") Use the 'Select plots' tab to chose plots to view

ul.nav.nav-tabs
  li(ng-class="{'active': activeTab === 1}")
    a(href ng-click="setActiveTab(1)")
      | Select jobs
  li(ng-class="{'active': activeTab === 2, 'disabled': noJobData}")
    a(href ng-click="setActiveTab(2)")
      | Select plots

// .panel.tab-content(style="background: white; border: 50px")
.panel.tab-content
  div(ng-show="activeTab === 1")
    .panel-head
    .panel-body
      select-jobs(ng-attr-selected-app="{{selectedApp}}", ng-attr-selected-options="{{selectedOptions}}", on-jobs-selected="lookHistos(jobIds)")
  div(ng-show="activeTab === 2")
    .panel-head
    .panel-body
      .alert.alert-info(ng-show="noJobData") No root file was found !
      browse-root-files(ng-hide="noJobData" resources='data.resources', folders="data.treedirsStructure" graphs="data.graphs" default-plots="defaultPlots")


#panelDebug.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title Debug info
  .panel-wrapper(collapse="panelDebug")
    .panel-body
      p.
        The details here are for debug purposes. They can be safely ignored unless
        you are doing active plot view development.
      pre data.optvalue: {{data.optvalue}}
      pre directiveMapService: {{ plotViewsFromProvider }}
      pre plotViewsFromArgs: {{ plotViewsFromArgs }}
      pre jobId: {{ jobId }}
      pre data.graphs: {{ data.graphs }}
      pre data.treedirsStructure: {{ data.treedirsStructure }}
      pre activeTab: {{ activeTab }}

      pre apiroot: {{ apiroot }}

      label plot directive:
        input(ng-model="data.optvalue")
