// Small title indicating what kind of analysis this is
// TODO Make this inhert from the controller  
h3 Validation Analysis
  small.text-muted LHCbPR

// The default search panel. This should probably not be changed
#panelSearch.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title Select one or more jobs
  .panel-wrapper(collapse="panelSearch")
    .panel-body
      // select-jobs(selected-app="DUMMYAPP" selected-options="100Evts-GAUSS-2015" on-jobs-selected="lookHistos(jobIds)")
      select-jobs(ng-attr-selected-app="{{selectedApp}}", ng-attr-selected-options="{{selectedOptions}}", on-jobs-selected="lookHistos(jobIds)")


// Shows secondary panel selecting which plot to display from all ROOT files found in the selected jobs.
// TODO there is a lot of logic here, this should be farmed out to the controller
// TODO Currently _feels_ overcomplicated. Review to see if there is a more succint/meaningful way to do this
// TODO make a directive for this. It should be obvious what each part does from each directive.
#panelJobs.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title Select item to plot
  .panel-wrapper(collapse="panelJobs")
    .panel-body
      .alert.alert-info(ng-show="noJobData") No root file was found !
      // browse-root-files(resources='data.resources', folders="data.treedirsStructure" graphs-checklist-model="data.graphs" default-plots="defaultPlots")
      browse-root-files(resources='data.resources', folders="data.treedirsStructure" graphs-checklist-model="data.graphs" default-plots="defaultPlots")


#panelOptions.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title PlotViews
  .panel-wrapper(collapse="panelOptions")
    .panel-body
      p
        i Please select a view after selecting a plot (above).
      form.form-inline(role='form')
        fieldset
          .form-group.col-sm-6
              label.radio-inline(ng-repeat="plotView in plotViews")
                input(type="radio", value="{{ plotView.directiveName }}", name="optvalue", ng-model="data.optvalue")
                |  {{ plotView.displayName }}


h3 Plots:
plot-view-generator(plot-view="data.optvalue" graphs="data.graphs" files="jobsRootFiles" test='test' url='url' resources='data.resources')

#panelDebug.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title Debug info
  .panel-wrapper(collapse="panelOptions")
    .panel-body
      p.
        The details here are for debug purposes. They can be safely ignored unless
        you are doing active plot view development.
      pre data.optvalue: {{data.optvalue}}
      pre directiveMapService: {{ plotViewsFromProvider }}
      pre plotViewsFromArgs: {{ plotViewsFromArgs }}
      pre jobId: {{ jobId }}
      pre data.graphs: {{ data.graphs }}
      pre data.treedirsStructure: {{ data.treedirsStructure }}

      pre apiroot: {{ apiroot }}

      label plot directive:
        input(ng-model="data.optvalue")
