h3 Histograms
  small.text-muted
.row.traditional(ng-class="csspinner")
  .col-lg-4
    .panel.panel-primary
      .panel-heading Configuration
      .panel-body
        form(name="configForm")
          .form-group(ng-class="{'has-error': !configForm.min.$valid}")
            label Min
            input.form-control(name='min', type='number', ng-model='min')
          .form-group(ng-class="{'has-error': !configForm.max.$valid}")
            label Max
            input.form-control(name='max', type='number', ng-model='max')
          .form-group(ng-class="{'has-error': !configForm.intervals.$valid}")
            label Intervals Number
            input.form-control(name='intervals', type='number', ng-pattern='/^[0-9]+$/', ng-model='intervals')
          button.btn.btn-primary(ng-click='update()' ng-disabled='!appId || !options || !configForm.min.$valid || !configForm.max.$valid || !configForm.intervals.$valid') Update
    div(search-jobs on-found="requestStatistics(searchParams)")
  .col-lg-8
    .alert.alert-info(ng-show="noData") No data was found !
    div(ng-hide="noData")
      form
        .form-group
          label Filter Attributes
          input.form-control(ng-model='attrFilter', ng-change='update()', type='text')
      table.table.table-striped.table-bordered.table-hover.be-responsive(ng-table="tableParams", show-filter='true', ng-show="!loading")
        thead
          th ID
          th Name
          th 
        tbody
          tr(ng-repeat="a in $data")
            td {{a.id}}
            td {{a.name}}
            td.buttons
              button.btn.btn-primary(ng-click="showAllCharts(a)") All Versions
              div(ng-repeat="value in a.values")
                button.btn.btn-primary(ng-click="showChart(a, $index)") {{value.version}}
script(type="text/ng-template", id="chartTemplate")
  .row
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sx-10.col-sx-offset-1
      h2 {{name}}
      .chart
        canvas(id='attrChart', legend='true', barchart='', options='lineOptions', data='lineData', height='chartHeight()', width='chartWidth()')
