h3 Statistics
  small.text-muted Histogrammes of attributes statistics
.row.traditional(ng-class="csspinner")
  .col-lg-4
    div(search-jobs on-found="requestStatistics(jobs)" filter-versions="false")
  .col-lg-8
    .panel.panel-primary(ng-repeat="attr in attrs")
      .panel-heading {{ attr.name }}
      .panel-wrapper
        .panel-body
          canvas(linechart='', options='lineOptions', data='attr.lineData', height='400', width='600', legend='true')
