h3 Statistics
  small.text-muted Histogrammes of attributes statistics
.row.traditional(ng-class="csspinner")
  .col-lg-4
    div(search-jobs on-found="requestStatistics(searchParams)" filter-versions="false")
  .col-lg-8
    table.table.table-striped.table-bordered.table-hover.be-responsive(ng-table="tableParams")
      thead
        th ID
        th Name
        th 
      tbody
        tr(ng-repeat="a in $data")
          td {{a.attr_id}}
          td {{a.attr_name}}
          td
            button.btn.btn-primary(ng-click="showChart(a)") Statistics
script(type="text/ng-template", id="chartTemplate")
  .row
    .col-lg-12
      h2 {{name}}
      canvas(id="attrChart", linechart='', options='lineOptions', data='lineData', height='400', width='600')
