div(ng-repeat="item in graphs track by $index", ng-hide="noJobData")
  h3(style="color:red") {{ item.fTitle }}
    rootjsserver(entrypoint="url" files="ctrl.getFilesFromResource(item.resource)" items="item.locationInFile" compute="compute" width="800" height="600")
