// Problems with tables and the way JSROOT causes problems https://github.com/linev/jsroot/issues/123
// div(style="overflow:auto")
//   table(style="width:100%")
//     tr(ng-repeat="item in graphs", ng-hide="noJobData")
//       td(ng-repeat="file in ctrl.getFilesFromResources(item.resources)")
//         draw-root-object(file-location="file" object-location="item.locationInFile")
.row(ng-repeat="item in graphs", ng-hide="noJobData")
  div(ng-class="setColClass(ctrl.getFilesFromResources(item.resources).length)" ng-repeat="file in ctrl.getFilesFromResources(item.resources)")
    draw-root-object(file-location="file" object-location="item.locationInFile")
