// TODO get rid of ng-init and put it into the directive
table(style="width:100%")
  tr(ng-repeat="item in graphs", ng-hide="noJobData")
    td(ng-repeat="file in files" ng-init="test[file] = name")
      h4(style="color:red") FOO TODO REPLACE
      // {{ title }} - {{ name }}
        rootjsserver(entrypoint="url"
                      files="test"
                      items="item"
                      compute="Split"
                      width="500" height="375")
