<h3>Job Descriptions
   <small class="text-muted">LHCbPR</small>
</h3>
<div class="row traditional">
   <div class="col-lg-12">
      <button type="button" ui-sref="app.job_descriptions.add" class="mb-sm btn btn-primary">Add Job Description ...</button>
   </div>
</div>
<hr/>
<div ng-class="csspinner" ng-repeat="app in apps" class="row traditional">
   <div class="col-lg-12">
      <!-- START panel-->
      <div class="panel panel-primary">
         <div class="panel-heading">{{app.name}}</div>
         <div class="panel-body">
            <!-- START panel-->
            <!-- START widget-->
            <div class="panel widget">
               <div class="row row-table row-flush">
                  <div class="col-xs-12 align-middle p-lg">
                     <div ng-repeat-start="ver in app.versions" class="h4">{{ver.version}}</div>
                     <ul ng-repeat-end="ng-repeat-end">
                        <li ng-repeat="jd in ver.jobdescriptions">
                           <span>SetupProject {{app.name}} {{ver.version}} {{jd.setup_project.content}} &&</span>
                           <span ng-if="!jd.option.is_standalone">gaudirun.py</span>
                           <span>{{jd.option.content}}</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <!-- END widget-->
            <!-- END panel-->
         </div>
      </div>
   </div>
</div>