h3 Validation Analysis
  small.text-muted LHCbPR

#panelSearch.panel.panel-default
  .panel-heading
    paneltool(tool-collapse)
    .panel-title Select one or more jobs
  .panel-wrapper(collapse="panelSearch")
    .panel-body
      select-jobs(on-jobs-selected="analyze(jobIds)")


p
  The current job ids are: 
  pre
    {{jobIds}}

p
  The current result of comparing those job ids are:
  pre
    {{result}}

p
  The result of looking for root files at those job ids are: 
  pre
    {{foo}}
