.panel.panel-primary
  .panel-heading Search jobs
  .panel-wrapper
    .panel-body
      form(role='form')
        .form-group
          label Application
          select.form-control(ng-model="app", ng-options="(item.name+ ' ('+ item.count + ')')  for item in apps track by item.id")
            option ...
        .form-group(ng-show="filterOptions !== 'false' && options")
          label Options
          .c-checkbox.checkbox.needsclick(ng-repeat="option in options")
            label
              input(type="checkbox", checklist-model="optionsIds", checklist-value="option.id", checklist-change="searchJobs()")
              span.fa.fa-check
              |  {{option.name}} ({{option.count}})
        .form-group(ng-show="filterExecutables !== 'false' && executables")
          label Executables
          .c-checkbox.checkbox.needsclick(ng-repeat="exe in executables")
            label
              input(type="checkbox", checklist-model="executablesIds", checklist-value="exe.id", checklist-change="searchJobs()")
              span.fa.fa-check
              | {{exe.name}} ({{exe.count}})
        .form-group(ng-show="filterPlatforms !== 'false' && platforms")
          label Platforms
          .c-checkbox.checkbox.needsclick(ng-repeat="platform in platforms")
            label
              input(type="checkbox", checklist-model="platformsIds", checklist-value="platform.id", checklist-change="searchJobs()")
              span.fa.fa-check
              | {{platform.name}} ({{platform.count}})        
        
        div(ng-show="filterVersions !== 'false' && versions")
          .form-group
            label Versions
          .form-group
            input(type="checkbox", ng-model="withNightly", ng-change="update()")
            | &nbsp;Show Nightly versions
          .form-group(ng-show="withNightly")
            label Number of nightly versions to show
            input(type="text", ng-model="nightlyVersionNumber", ng-change="update()")
          .form-group
            label(ng-repeat-start="group in versions")
            | {{group.name}}
            .c-checkbox.needsclick.checkbox(ng-repeat="version in group.values")
              label
                input(type="checkbox", checklist-model="versionsIds", checklist-value="version.id", checklist-change="searchJobs()")
                span.fa.fa-check
                |  {{version.name}} ({{version.count}})
            div(ng-repeat-end)

      
