.panel.panel-primary
  .panel-heading Search jobs
  .panel-wrapper
    .panel-body
      form(role='form')
        .form-group
          label Application
          select.form-control(ng-model="app", ng-options="(item.name+ ' ('+ item.count + ')')  for item in apps track by item.id")
            option ...
        .form-group(ng-show="options")
          label Options
          .c-checkbox.checkbox.needsclick(ng-repeat="option in options")
            label
              input(type="checkbox", checklist-model="optionsIds", checklist-value="option.id", checklist-change="optionChanged()")
              span.fa.fa-check
              |  {{option.name}} ({{option.count}})
        .form-group(ng-show="versions")
          label(ng-repeat-start="group in versions")
            {{group.name}}
          .c-checkbox.needsclick.checkbox(ng-repeat="version in group.values")
            label
              input(type="checkbox", checklist-model="versionsIds", checklist-value="version.id", checklist-change="versionChanged()")
              span.fa.fa-check
              |  {{version.name}} ({{version.count}})
          div(ng-repeat-end)

      
